<html>
<head>
</head>
<body>

<form action="/registerAuth_customer" method="POST">
	<h3>Welcome, new customer.</h3>
	<h3>Step 2: Fill out the form to complete registration</h3>
		<label>Email:</label>
		<input type="text" name = "email" placeholder="myemail@gmail.com" required/> </br>
		<label>Password:</label>
		<input type="password" name = "password" placeholder="**********" required/></br>
		<label>Name:</label>
		<input type="text" name = "name" placeholder="John Anderson" required/></br>
		<label>Phone Number:</label>
		<input type="text" name = "phone_number" placeholder="+11655639987" required/></br>
		<label>Address: Building Number</label>
		<input type="text" name = "address_building_number" placeholder="No. 14" required/></br>
		<label>Address: Street</label>
		<input type="text" name = "address_street" placeholder="Century Avenue" required/></br>
		<label>Address: City</label>
		<input type="text" name = "address_city" placeholder="Shanghai" required/></br>
		<label>Address: State</label>
		<input type="text" name = "address_state" placeholder="Shanghai" required/></br>
		<label>Passport: Number</label>
		<input type="text" name = "passport_number" placeholder="N-15099840" required/></br>
		<label>Passport: Expiration Date</label>
		<input type="date" name = "passport_expiration" placeholder="YYYY-MM-DD" required/></br>
		<label>Passport: Country</label>
		<input type="text" name = "passport_country" placeholder="CHINA" required/></br>
		<label>Birth Date</label>
		<input type="date" name = "birthdate" placeholder="YYYY-MM-DD" required/></br>
		<input type="submit" value = Register />

	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}

</form>
<a href="/">Go back</a>
</body>
</html>