<!DOCTYPE html>
<html>

<head>

</head>

<body>
	<h1>Flight Ticket Reservation System 1.0</h1>
	
{% if not username %}
	<h2>Welcome guest</h2>
	<a href="/flight_search">Flight Search</a><br>
	<a href="/login">Login</a><br>
	<a href="/register">Register</a>
{% endif %}

{% if username %}
	<h2>Welcome {{username}}, you've logged in!</h2>
	{% if customer %}
	<a href="/customer_home">Go Home</a><br>
	{% endif %}
	{% if staff %}
	<a href="/staff_home">Go Home</a><br>
	{% endif %}
	{% if agent %}
	<a href="/agent_home">Go Home</a><br>
	{% endif %}
	<a href="/logout">Logout</a>
{% endif %}

</body>

</html>
